footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    width: calc(100vw - 20px);
    height: 20px;
    left: 0;
    bottom: 0;
    background: #EEE;
    font-size: 0.75em;
    padding: 10px;
}
    footer>.icon_github{
        display: block;
        height: 20px;
        width: 20px;
        background-image: url(../../images/github_logo.png);
        background-size: contain;
    }

    footer>div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    footer>div>*{
        margin: 0 0 0 15px;
        font-weight: 400;
        color: #444;
    }

    footer>div>p{
        font-weight: 900;
    }

    footer>div>a{
        text-decoration: none;
    }

        footer>div>a:hover{
            text-decoration: underline;
            cursor: pointer;
        }

/* Tablette */
@media screen and (max-width:800px){
    footer{
        height: 40px;
    }
    
    footer>div>p{
        display: block;
        width: 100%;
    }
    
    footer>.icon_github{
        display: none;
    }
}